<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{Lankecms_title}</title>
<meta name="keywords" content="{Lankecms_keyword}" />
<meta name="description" content="{Lankecms_description}" />
<link rel="stylesheet" type="text/css" href="../template/maoyi-110118-a29/css/style.css" />
<link rel="stylesheet" type="text/css" href="../css/lrtk.css" />
<script type="text/javascript" language="javascript" src="../js/pptBox.js"></script>
<script type="text/javascript" language="javascript" src="../script/popup/jquery-1.4.3.min.js"></script>
<script type="text/javascript" language="javascript" src="../script/droppy.js"></script>
<script type="text/javascript" language="javascript" src="../script/thickbox.js"></script>
<script type="text/javascript" language="javascript" src="../js/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="../css/3css.css" media="screen" />
    <script type="text/javascript">
    $(function() {
        $('.apic').lightBox();
    });
    </script>
</head>
<!--  页面头部【end】 -->
<body class="body1">
<div id="getValues" style="display:none;"></div>
<div id="getParams" style="display:none;"></div>
<div id="top">
<div id="header">
    <div id="logo">
        <div id="MODBLK_222" class="mod_block media_image mb_logo_block">
            <div class="flash_image">
            <img src="{root}{Lankecms_logo}"/>
            </div>
        </div>
    </div> 
<!-- 站点语言模块Start -->
<div class="switch_langbar">
</div>
    <span class="language">
        选择语言：
        <a href="" id="translateLink">繁體中文</a> | 
        <script type="text/javascript" src="../js/tw_cn.js"></script>
        <script type="text/javascript">
        var defaultEncoding = 0; //默认是否繁体，0-简体，1-繁体
        var translateDelay = 240; //延迟时间,若不在</body>前, 要设定延迟翻译时间, 如100表示100ms,默认为0
        var cookieDomain = "{Lankecms_url}";    //Cookie地址, 一定要设定, 通常为你的网址
        var msgToTraditionalChinese = "繁體中文"; //默认切换为繁体时显示的中文字符
        var msgToSimplifiedChinese = "简体中文"; //默认切换为简体时显示的中文字符
        var translateButtonId = "translateLink"; //默认互换id
        translateInitilization();
        </script>
        <a href="{Lankecms_enurl}">English</a>
    </span>
</div>

   <div id="nav_bg">
    <div id="nav">
        <div id="MODBLK_225" class="mod_block mb_56YrvV58_block">
            <div class="nav_l"></div>
                <ul id="nav_sWUiiy" class="navigation">
                {Lankecms_nav}
                </ul>
            <div class="nav_r"></div>
        </div>
	</div>
    </div>
    
   <div id="banner_bg">
   <div id="banner">
    <div id="MODBLK_223" class="mod_block media_image mb_banner_block">
        <div class="flash_image">
         <!--焦点广告-->
         <script>
         var box =new PPTBox();
         box.width = 980; //宽度
         box.height = 336;//高度
         box.autoplayer = 3;//自动播放间隔时间
         //box.add({"url":"图片地址","title":"悬浮标题","href":"链接地址"})
         {Lankecms_adv}
         box.show();
        </script>
        </div>
    </div>
	</div> 
    </div>   
     </div>
    <!--top end-->
 <!--main_div-->
<div id="main_div">
  <!--top-->
<!--mainmain-->
    <div id="mainmain"> 
   
	<div id="main_con" class="web_bg">
     		<div id="left">
    <div id="MODBLK_299" class="mod_block mb_fsBdWXpb_block">
    <h3 class="blk_t">产品分类</h3>
<div class="list_main category">
	<div class="prod_type">
	<div id="pro_type_HaipIu">
	 <ul>
    {Lankecms_leftnav}
    <div class="blankbar1"></div>
	</ul>		
	</div>
	</div>
	<div class="list_bot"></div>
</div>
<div class="blankbar"></div>
<script type="text/javascript" language="javascript">
/**
 * for menu-drop type
 */
var type = "";
if (type == 'click') {
	$(function(){
		$('#pro_type_HaipIu li:has(ul)').click(function(event){
	    	if (this == event.target) {
	        	if ($(this).children().is(':hidden')) {
	                $(this).css({background:'url(../template/maoyi-110118-a29/images/minus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'})
	                .children().show();
	                
	              	$(this).siblings().each(function (){
	              		$(this).find("ul").hide();
	              		if ($(this).children().is("ul")){
	              			$(this).css({background:'url(../template/maoyi-110118-a29/images/plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'});
	              	    }
	              	});
	            } else {
	                $(this).css({background:'url(../template/maoyi-110118-a29/images/plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'})
	                .find("ul").hide();
	            }  
	        }
		}).css('cursor','pointer');
	          
	    $('#pro_type_HaipIu li:has(ul)').css({background:'url(../template/maoyi-110118-a29/images/plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'});
	        	
	    $('#pro_type_HaipIu li:not(:has(ul))').css({cursor: 'pointer','list-style-image':'none'});
	});
} else {
 	$("#pro_type_HaipIu > ul").droppy();
	$("#pro_type_HaipIu ul ul li:last-child").css("border","0px");
}
</script>
</div>

<div id="MODBLK_206" class="mod_block mb_aq4yXYOw_block">
    <h3 class="blk_t">新闻中心</h3>
        <div class="qq_list_con">
            <ul class="titlelist">
            {Lankecms_news}
            </ul>	
        </div>
    <div class="list_bot"></div>
    <div class="blankbar"></div>
</div>

<div id="MODBLK_206" class="mod_block mb_aq4yXYOw_block">
    <h3 class="blk_t">联系我们</h3>
    <div class="qq_list_con">
        <ul>
            <li>地 址：{Lankecms_dz}</li>  
            <li>电 话：{Lankecms_tel}</li> 
            <li>传 真：{Lankecms_fax}</li>
            <li>邮 箱：{Lankecms_email}</li> 
        </ul>
    </div>
    <div class="list_bot"></div>
    <div class="blankbar"></div>
</div>
</div>
                    
        <div id="right">
        <div id="right2">
        
<div class="art_list">	
	<div class="art_list_title product_title">产品展示</div>
    
    <div class="showpic_all">
        <div class="showpic3">{Lankecms_protitle}</div>
        <div class="showpic"><a href="{root}{Lankecms_img}" target="_blank" class="apic prodthumb"><img name="picautozoom" src="{root}{Lankecms_img}" border="0" width="220" height="220"/></a></div>
            <div class="showpic2">                
                  <div class="showpic4">
                    <p><strong>产品编号：</strong><b>{Lankecms_ProductNo}</b></p>
                    <p><strong>产品价格：</strong><b style="color:#FF0000; font-size:14px;">{Lankecms_price}</b></p>
                    <p><strong>产品简介：</strong>{Lankecms_introduction}</p>
                    <div class="button"><a href="{root}/Inquiry/index.asp?id={id}">在线订购</a></div>
                  </div>
            </div>
     </div>
 
    
	<div class="prodview_prices">
	</div>
	<div class="prodview_content">{Lankecms_body}</div>
    <div class="point">
        <span class="to_prev">{Lankecms_prev}</span>
        <span class="to_next">{Lankecms_next}</span>
    </div>
        <p id="product_gallery">
        </p>
</div>
		</div>
        </div>
		       
        <div class="blankbar"></div>
	</div>
</div>
 <!--mainmain end-->   
</div>
<!--main_div end--> 

<div id="footer">
    <div class="copyright">
    &nbsp;&nbsp;{Lankecms_copyright}&nbsp;{Lankecms_beian} <a href="{root}/sitemap.html" target="_blank">网站地图</a></div>
    </div>
<script type="text/javascript" language="javascript" src="../script/picAutoZoom.js"></script>
<script type="text/javascript" language="javascript">
<!--
    $.ajaxSetup({
        timeout: 300000
    });
//-->
</script>
{eqq}
{Lankecms_share}
</body>
</html>
